/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: #ffffff;
  --header-text-color: #333333;
  --btn-background: #e74c3c;
  --btn-text-color: #ffffff;
  --input-background: #f0f0f0;
  --input-text-color: #333333;
  --link-color: #333333;
  --link-hover-color: #e74c3c;
  --section-background-color: linear-gradient(135deg, #ffffff 0%, #e74c3c 100%);
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background: #1e1e1e;
  --header-text-color: #ffffff;
  --btn-background: #3498db;
  --btn-text-color: #121212;
  --input-background: #333333;
  --input-text-color: #ffffff;
  --link-color: #ffffff;
  --link-hover-color: #2980b9;
  --section-background-color: linear-gradient(135deg, #ffffff 0%, #3498db 100%);

}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */
header {
  background-color: var(--header-background);
  color: var(--header-text-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-img {
  border-radius: 50%;
  max-width: 80px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--link-hover-color);
}

.btn {
  background-color: var(--btn-background);
  color: var(--btn-text-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--link-hover-color);
}

/* Login Section Styles */
#login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Full height minus header */
  background: var(--section-background-color);
  margin: 0;
}

.login-container {
  background-color: var(--background-color);
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 25px;
}

.login-form label {
  text-align: left;
}

.login-form input {
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: var(--input-background);
  color: var(--input-text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-form input:focus {
  outline: none;
  border-color: var(--btn-background);
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.remember-me label {
  margin: 0;
}

.signup-prompt {
  margin-top: 1rem;
}

.signup-prompt a {
  color: var(--link-color);
  text-decoration: none;
}

.signup-prompt a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Footer Styles */
footer {
  background-color: #333333;
  color: #ffffff;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;
}

footer ul li a:hover {
  text-decoration: underline;
}

#footer-info {
  flex: 2;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  /* Responsive Layout */
  .login-container {
    padding: 2rem;
  }

  .login-form {
    gap: 0.8rem;
  }
}
