@import "https://fonts.googleapis.com/css?family=Lato:400,700";

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --header-background: #ffffff;
  --header-text-color: #333333;
  --btn-background: #e74c3c;
  --btn-text-color: #ffffff;
  --card-color: #f4f4f4;
  --link-color: #333333;
  --link-hover-color: #e74c3c;
  --section-background-color: linear-gradient(135deg, #333333 0%, #e74c3c 100%);
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background: #1e1e1e;
  --header-text-color: #ffffff;
  --btn-background: #3498db;
  --btn-text-color: #ffffff;
  --card-color: #1e1e1e;
  --link-color: #ffffff;
  --link-hover-color: #2980b9;
}

/* Header Styles */
header {
  background-color: var(--header-background);
  color: var(--header-text-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-img {
  border-radius: 50%;
  max-width: 80px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--link-hover-color);
}

/* Button Styles */
.btn {
  background-color: var(--btn-background);
  color: var(--btn-text-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--link-hover-color);
}

/* Membership Section */
#membership-plans {
  padding: 50px 2rem;
  text-align: center;
  background-color: var(--background-color);
}

h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
  color: var(--text-color);
}

.plan-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plan-card {
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.plan-card:hover {
  transform: translateY(-10px);
}

.plan-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.plan-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--header-text-color);
}

.plan-info p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: var(--header-text-color);
}

.plan-info .btn {
  margin-top: 20px;

}
.book-btn {
  align-self: flex-end;
  text-decoration: none;
}

/* Footer Styles */
footer {
  background-color: #333333;
  color: #ffffff;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;
}

footer ul li a:hover {
  text-decoration: underline;
}

#footer-info {
  flex: 2;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .plan-container {
    flex-direction: column;
    align-items: center;
  }

  .plan-card {
    width: 100%;
    max-width: 350px;
  }

  header {
    flex-direction: column;
    position: relative;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer ul {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
